*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: url('chat_background.png');
    background-size: cover;
}

h2{
    justify-content: center;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

form{
    justify-content: center;
    margin-top: 50px;
}

input{
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 35px;
    display:block;
    padding:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 380px;
    background: transparent;
    color: white;
    
    
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

button{
    font-size: 20px;
    background-color: white;
    color: black;
    margin: 14px;
    border: none;
    width: 380px;
    padding: 8px;
    /* margin-bottom: 20%; */
}

button:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
}

p{
    justify-content: center;
    text-align: center;
    color: antiquewhite;
}

#signup{
    font-size: 14px;
    width: 70px;
}